{% extends 'base.html' %}
{% block title %}
    О нас
{% endblock %}
{% block header %}
{% include "_header.html" %}
{% endblock %}
{% block content %}
       <div class="container">
        <h1 class="mt-5">Добро пожаловать на нашу платформу для профориентации</h1>
        <p>Здесь вы найдете всю необходимую информацию для выбора своего будущего пути. Мы предоставляем уникальные
            инструменты и ресурсы, чтобы помочь вам сориентироваться в мире профессий.</p>

        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Интерактивные тесты</h2>
                <p>Пройдите наши увлекательные тесты, чтобы узнать, какие профессии могут подойти именно вам.</p>
                <img src="https://via.placeholder.com/300" alt="Тесты" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>Советы от экспертов</h2>
                <p>Наши профессиональные консультанты готовы поделиться своим опытом и предложить лучшие карьерные
                    решения.</p>
                <img src="https://via.placeholder.com/300" alt="Советы" class="img-fluid">
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Курсы и обучение</h2>
                <p>Познакомьтесь с нашими образовательными программами и курсами, чтобы развивать свои навыки в
                    интересующей вас области.</p>
                <img src="https://via.placeholder.com/300" alt="Курсы" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>Профессиональные советы</h2>
                <p>Получайте рекомендации от успешных людей в различных отраслях и стройте свой профессиональный
                    путь.</p>
                <img src="https://via.placeholder.com/300" alt="Советы" class="img-fluid">
            </div>
        </div>

        <p class="mt-4">Независимо от того, студент вы или уже работающий специалист, наша платформа поможет вам
            принимать осознанные карьерные решения.</p>

        <div class="mt-4">
            <h2>Новости и Статьи</h2>
            <div class="row">
                <div class="col-md-4">
                    <img src="https://via.placeholder.com/150" alt="Новость 1" class="img-fluid">
                    <h4>Заголовок новости 1</h4>
                    <p>Краткое описание новости. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="col-md-4">
                    <img src="https://via.placeholder.com/150" alt="Новость 2" class="img-fluid">
                    <h4>Заголовок новости 2</h4>
                    <p>Краткое описание новости. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="col-md-4">
                    <img src="https://via.placeholder.com/150" alt="Новость 3" class="img-fluid">
                    <h4>Заголовок новости 3</h4>
                    <p>Краткое описание новости. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>

        <p class="mt-4">Независимо от того, студент вы или уже работающий специалист, наша платформа поможет вам
            принимать осознанные карьерные решения.</p>
    </div>
{% endblock content %}