{% extends 'base.html' %}
{% load static %}
{% include '_links.html' %}
{% block title %}
    Создание теста
{% endblock %}
{% block header %}
    {% include '_header.html' %}
{% endblock %}
{% block content %}
<body>
    <h1>Создание нового теста</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.errors }}
            </div>
        {% endif %}
        <button type="submit">Добавить</button>
    </form>
</body>
{% endblock %}