{% extends 'base.html' %}
{% load static %}
{% include '_links.html' %}
{% block title %}
    {{ test.name }}
{% endblock %}
{% block header %}
    {% include '_header.html' %}
{% endblock %}
{% block content %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<body class="container-md">
<div class="container-md mb-3">
    <h1>Редактирование теста: {{ test.name }}</h1>
</div>
<div class="container-sm">
    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#addQuestionModal">
        Добавить вопрос
    </button>
</div>

    <div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addQuestionModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addQuestionModalLabel">Добавление вопроса</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="addQuestionForm">
              {% csrf_token %}
              {{ question_form.as_p }}
              <button type="button" class="btn btn-primary" id="submitQuestion">Добавить вопрос</button>
            </form>
          </div>
        </div>
      </div>
    </div>

<div class="container-md">
    <ul id="questionsList" class="list-group">
        {% for question in questions %}
            <li class="list-group-item">
            <p>
                {{ question.question_text }}
            </p>
                <a href="{% url 'TeacherApp:delete_question_ajax' question_id=question.id %}">
                    <button type="button" class="btn btn-outline-danger btn-sm md-2">Удалить вопрос</button>
                </a>
                <div class="container-md">
                <ul id="choicesList" class="mb-3">
                    {% for choice in choices%}
                        {% if choice.question == question %}
                        <li>
                            <div class="d-flex flex-row bd-highlight mb-3">
                                <div class="p-2 bd-highlight">
                                    {{ choice.choice_text }}
                                </div>
                                    <button type="button" class="btn btn-outline-danger delete-choice-btn btn-sm md-2" data-choice-id="{{ choice.id }}">Удалить</button>
                                    <button type="button" class="btn btn-outline-warning update-choice-btn btn-sm md-2" data-choice-id="{{ choice.id }}">Изменить</button>
                            </div>
                            {% if choice.choice_image %}
                                <div class="container-sm mb-3">
                                    <img class="img-thumbnail w-25" src="{{ choice.choice_image.url }}">
                                </div>
                            {% endif %}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <button type="button" class="btn btn-outline-primary btn-sm add-choice-btn"
                    data-question-id="{{ question.id }}">Добавить ответ</button>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="modal fade" id="addChoiceModal" tabindex="-1" role="dialog" aria-labelledby="addChoiceModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addChoiceModalLabel">Добавление варианта ответа</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="addChoiceForm" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" id="questionId" name="question_id">
              <div class="form-group">
                <label for="choiceText">Текст варианта</label>
                <input type="text" class="form-control" id="choiceText" name="choice_text">
              </div>
              <div class="form-group">
                <label for="choiceImage">Изображение варианта</label>
                <input type="file" class="form-control" id="choiceImage" name="choice_image">
              </div>
              <div id="choiceFormErrors" class="alert alert-danger" style="display: none;"></div>
              <button type="button" class="btn btn-primary" id="submitChoice">Добавить вариант</button>
            </form>
          </div>
        </div>
      </div>
    </div>

<div class="modal fade" id="updateQuestionModal" tabindex="-1" role="dialog" aria-labelledby="updateQuestionModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateQuestionModalLabel">Изменение вопроса</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="updateQuestionForm">
              {% csrf_token %}
              <input type="hidden" id="updateQuestionId" name="question_id">
              <div class="form-group">
                <label for="updateQuestionText">Текст вопроса</label>
                <input type="text" class="form-control" id="updateQuestionText" name="question_text">
              </div>
              <div id="updateQuestionFormErrors" class="alert alert-danger" style="display: none;"></div>
              <button type="button" class="btn btn-primary" id="submitUpdateQuestion">Изменить вопрос</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="updateChoiceModal" tabindex="-1" role="dialog" aria-labelledby="updateChoiceModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateChoiceModalLabel">Изменение варианта ответа</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="updateChoiceForm" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" id="updateChoiceId" name="choice_id">
              <div class="form-group">
                <label for="updateChoiceText">Текст варианта</label>
                <input type="text" class="form-control" id="updateChoiceText" name="choice_text">
              </div>
              <div class="form-group">
                <label for="updateChoiceImage">Изображение варианта</label>
                <input type="file" class="form-control" id="updateChoiceImage" name="choice_image">
              </div>
              <div id="updateChoiceFormErrors" class="alert alert-danger" style="display: none;"></div>
              <button type="button" class="btn btn-primary" id="submitUpdateChoice">Изменить вариант</button>
            </form>
          </div>
        </div>
      </div>
    </div>

<script>
        $(document).ready(function(){
            $('#submitQuestion').click(function(){
                $.ajax({
                    url: "{% url 'TeacherApp:add_question_ajax' test.id %}",
                    type: "POST",
                    data: $('#addQuestionForm').serialize(),
                    success: function(data) {
                        if (data.status === 'success') {
                            $('#questionsList').append('<li>' + data.question_text + '</li>');
                            $('#addQuestionModal').modal('hide');
                            location.reload()
                        } else {
                            let errors = JSON.parse(data.errors);
                            let errorText = '';
                            for (let key in errors) {
                                if (errors.hasOwnProperty(key)) {
                                    errorText += errors[key].join(', ') + '<br>';
                                }
                            }
                            $('#formErrors').html(errorText).show();
                        }
                    }
                });
            });
        });
    </script>
<script>
    $(document).on('click', '.add-choice-btn', function(){
                let questionId = $(this).data('question-id');
                $('#questionId').val(questionId);
                $('#addChoiceModal').modal('show');
            });
   $('#submitChoice').click(function(){
                let formData = new FormData($('#addChoiceForm')[0]);
                $.ajax({
                    url: "{% url 'TeacherApp:add_choice_ajax' 0 %}".replace('0', $('#questionId').val()),
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        if (data.status === 'success') {
                            let choiceHtml = '<li>';
                            if (data.choice_image_url) {
                                choiceHtml += '<img src="' + data.choice_image_url + '" alt="Choice Image" style="max-width: 100px;"> ';
                            }
                            choiceHtml += data.choice_text + '</li>';
                            $('#choicesList' + $('#questionId').val()).append(choiceHtml);
                            $('#addChoiceModal').modal('hide');
                            location.reload()
                        } else {
                            let errors = data.errors;
                            let errorText = '';
                            for (let key in errors) {
                                if (errors.hasOwnProperty(key)) {
                                    errors[key].forEach(function(error) {
                                        errorText += error + '<br>';
                                    });
                                }
                            }
                            $('#choiceFormErrors').html(errorText).show();
                        }
                    }
                });
   });
</script>
<script>
    $(document).on('click', '.delete-question-btn', function(){
                let questionId = $(this).data('question-id');
                $.ajax({
                    url: "{% url 'TeacherApp:delete_question_ajax' 0 %}".replace('0', questionId),
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(data) {
                        if (data.status === 'success') {
                            $('#question' + questionId).remove();
                        }
                    }
                });
            });

            $(document).on('click', '.delete-choice-btn', function(){
                let choiceId = $(this).data('choice-id');
                $.ajax({
                    url: "{% url 'TeacherApp:delete_choice_ajax' 0 %}".replace('0', choiceId),
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(data) {
                        if (data.status === 'success') {
                            $('#choice' + choiceId).remove();
                        }
                    }
                });
            });

            $(document).on('click', '.update-question-btn', function(){
                let questionId = $(this).data('question-id');
                $('#updateQuestionId').val(questionId);
                $('#updateQuestionText').val($('#question' + questionId).text().trim());
                $('#updateQuestionModal').modal('show');
            });

            $('#submitUpdateQuestion').click(function(){
                let questionId = $('#updateQuestionId').val();
                $.ajax({
                    url: "{% url 'TeacherApp:update_question_ajax' 0 %}".replace('0', questionId),
                    type: "POST",
                    data: $('#updateQuestionForm').serialize(),
                    success: function(data) {
                        if (data.status === 'success') {
                            $('#question' + questionId).contents().first().replaceWith(data.question_text);
                            $('#updateQuestionModal').modal('hide');
                        } else {
                            let errors = data.errors;
                            let errorText = '';
                            for (let key in errors) {
                                if (errors.hasOwnProperty(key)) {
                                    errorText += errors[key].join(', ') + '<br>';
                                }
                            }
                            $('#updateQuestionFormErrors').html(errorText).show();
                        }
                    }
                });
            });

            $(document).on('click', '.update-choice-btn', function(){
                let choiceId = $(this).data('choice-id');
                $('#updateChoiceId').val(choiceId);
                $('#updateChoiceText').val($('#choice' + choiceId).text().trim());
                $('#updateChoiceModal').modal('show');
            });

            $('#submitUpdateChoice').click(function(){
                let choiceId = $('#updateChoiceId').val();
                let formData = new FormData($('#updateChoiceForm')[0]);
                $.ajax({
                    url: "{% url 'TeacherApp:update_choice_ajax' 0 %}".replace('0', choiceId),
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        if (data.status === 'success') {
                            let choiceHtml = '';
                            if (data.choice_image_url) {
                                choiceHtml += '<img src="' + data.choice_image_url + '" alt="Choice Image" style="max-width: 100px;"> ';
                            }
                            choiceHtml += data.choice_text + '<button type="button" class="btn btn-danger delete-choice-btn" data-choice-id="' + choiceId + '">Удалить</button><button type="button" class="btn btn-warning update-choice-btn" data-choice-id="' + choiceId + '">Изменить</button>';
                            $('#choice' + choiceId).html(choiceHtml);
                            $('#updateChoiceModal').modal('hide');
                        } else {
                            let errors = data.errors;
                            let errorText = '';
                            for (let key in errors) {
                                if (errors.hasOwnProperty(key)) {
                                    errors[key].forEach(function(error) {
                                        errorText += error + '<br>';
                                    });
                                }
                            }
                            $('#updateChoiceFormErrors').html(errorText).show();
                        }
                    }
                });
            });
</script>
</body>
{% endblock %}
